<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Customer Queue Form</h1>
        <form method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>

            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" required><br>

            <label for="restaurant_code">Restaurant:</label>


            <select id="restaurant_code" name="restaurant_code" required>
                <option value="" disabled selected>Select a restaurant</option>
                <option value="00">REST TESTE</option>
                <!-- Populate options from the "restaurants" table -->
                {% for restaurant in restaurants %}
                    <option value="{{ restaurant.restaurant_code }}">{{ restaurant.restaurant_name }}</option>
                {% endfor %}
            </select>

            <br>

            <input type="submit" value="Join Queue" class="btn">
        </form>
    </div>
</body>
</html>
